// 1. Import the initial variables from bulma node module
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

// an example of overriding primary color
$purple: #5e2da8; 
$primary: $purple; 
$info: #8f61ff;

// 6. Import the rest of Bulma
@import "node_modules/bulma/bulma";
