<!DOCTYPE html>
<html>
<!--Author: Dan Rauch 
    Affiliation: Self
    Using Bulma CSS Framework-->

<style>
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
</style>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="public/imgs/pageicon.png"> 
  <link rel="stylesheet" href="css/bulma.css"> 
  <title>MedTrack-dev</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"></script>
  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> --> 
  <script src="node_modules/chart.js/dist/Chart.js"></script>
</head>
<body>
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="public/imgs/pageicon.png" alt="medtrack" width="28" height="28">
          </a>
        </div>
      
        <div id="nb" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/home">
              Home
            </a>
            <a class="navbar-item" href="/logout">
              Logout
            </a>
          </div>

        </div>
      </nav>

   <div class="block">
    <section class="hero is-info">
      <div class="hero-body">
        <div class="container">
          <p>
            <img src="public/imgs/pageicon.png" align="left" height="70" width="70" style="float:left;margin:0 15px 15px 0;" >
            <h1 class="title is=1">Your User Profile</h1>
            <h2 class="subtitle">Welcome</h2>
          </p>
        </div>
      </div>
    </section>
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-2 is-vertical is-parent">
      <div class="tile is-child box">
        <p class="title">Welcome</p>
        <p class="subtitle">What is up?</p>
      </div>
      <div class="tile is-child box">
        <p class="title">Another</p>
        <p class="subtitle">What is up bro?</p>
      </div>
    </div>
    <div class="tile is-parent is-5">
      <div class="tile is-child box">
        <canvas id="myChart"></canvas>
      </div>
    </div>
  </div>

  <script>
    var chrt = document.getElementById("myChart").getContext("2d");
    var data = {
      labels: ["27 Nov 2010", "27 Nov 2011" , "27 Nov 2012"],
      datasets: [{
      label: "Your Data",
        backgroundColor: "#8f61ff99", //..add alpha with the last two digits of the hex color
        borderColor: "#8f61ff99",
        hoverBackgroundColor: "#8f61ff99",
        hoverBorderColor: "#8f61ff99",
        data: [65, 59, 80]
      },
      {
        label: "Median Data",
          backgroundColor: "#88194a99", //..add alpha with the last two digits of the hex color
          borderColor: "#88194a99",
          hoverBackgroundColor: "#88194a99",
          hoverBorderColor: "#88194a99",
          data: [44, 33, 22]
        }]
    }; 
    var myFirstChart = new Chart(chrt, {
      type: 'line',
      data: data,
      options: {
        responsive: true, 
    }
    });
    </script>
</body>

</html>

<!-- <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">One</p>
    </div>
    <div class="tile is-child box">
      <p class="title">Two</p>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">Three</p>
    </div>
  </div>
</div> -->

<!-- <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link">
    Views
  </a>
  <div class="navbar-dropdown is-boxed">
    <a class="navbar-item" href="/home">
      One
    </a>
    <hr class="navbar-divider">
    <a class="navbar-item" href="/home">
      Two
    </a>
    <a class="navbar-item" href="/home">
      Three
    </a>
  </div>
</div> -->